<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script type="text/babel" src="public/javascripts/selfreact.js"></script>
  </head>
  <body>
  <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  function fbUserLogout(){
    FB.logout(function(response) {
      // Person is now logged out
      window.location.replace("/")
    });
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1949610732020722',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.12' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }    
  </script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
    <button onclick="fbUserLogout()">fb logout</button>
    <div id='status'></div>
    <a href='/login'>login</a>
    <a href='/register'>register</a>

  <div class="page-header">
    <h1>Share Dialog</h1>
  </div>
  <p>Click the button below to trigger a Share Dialog</p>
  <div id="shareBtn" class="btn btn-success clearfix">
  <button>Share</button></div>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        mobile_iframe: true,
        href: 'https://developers.facebook.com/docs/',
        }, function(response){
          document.getElementById('content').innerHTML = 'you have posted '+ response.post_id;
        });
      }
  </script>
  <div id="content"></div>
  
<div class="fb-share-button" data-href="https://vcm-3855.vm.duke.edu:3000" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvcm-3855.vm.duke.edu%3A3000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a></div>
  <div class="fb-quotable">
  <h1>Panjoy Zhang</h1>
  <p id="text">
    This is test for quote
  </p>
  </div>
  <div class="fb-quote" layout='button'>submit</div>

  <div id="post"></div>
  </script>
  </body>
</html>
